<html>
    <head>
        <title>Welcome!</title>
            <link rel="stylesheet" href="/static/css/style.css?q={{ time }}">
            <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;600&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
        <h1>Hello, you!</h1>
        <p>Moira Bot requires some information before proceeding. Not to worry! This Daytime Emmy nominee and trained sonneteer can use her hefty lexicon to assemble a lyrical buffet suited to your interests and mood.</p>
            <form method="post" action="/poem">
                <label>By what name are you called?</label>
                <input type="text" name="username" class="form-control" aria-label="Large"       aria-describedby="inputGroup-sizing-sm" required>
                <br></br>
                <label>On what subject are you currently cogitating?</label>
                <input type="text" name="topic" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" required>
                <br></br>
                <label>In one word, capture your current mood.</label>
                <input type="text" name="mood" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" required>
                <br></br>
                <input type="submit" value="Submit">
            </form>
            </div>
    </body>
</html>