<html>
    <head>
        <title></title>
          <link rel="stylesheet" href="/static/css/style.css?q={{ time }}">
    </head>
    <body>
        <div class="container-fluid">
        <h1>A {{poem}} for you, {{newname}}!</h1>
        <p>A {{mood1.lower()}} verse about {{topic.lower()}} for my dear consort, {{newname}}.</p>
        <p>How to describe {{topic1.lower()}}? {{descriptor1.title()}}, {{descriptor2}}... {{namerhyme}}!</p>
        <p>Or perhaps one could say, {{descriptor3}}, {{descriptor4}}, surprising.</p>
        <p>Alas, {{trigger1}}! {{trigger2.title()}}! {{mood2.title()}} times! {{surprisingrhyme.title()}}!</p>
        <p>Now my {{poem2}} must come to its end.</p>
        <p>May you find much {{mood3.lower()}} {{topic2.lower()}}, {{newname}}, dear friend.</p>
        </div>
    </body>
</html>